* {
    box-sizing: border-box;
    margin: 0;
}

/*Header style*/

header {
    background-color: rgb(86, 140, 241);
    height: 60px;
    padding: 10px;
}

header a {
    color: beige;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

header a:first-child {
    color: rgb(241, 144, 16);
    font-size: 30px;
}

.hovered:hover {
    background-color: brown;
    color: azure;
    border-radius: 5px;
}

header div img {
    border-radius: 50%;
    width: 80px;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
}

/*body style*/

body {
    background-image: url(/Assets/backgrounds/bird-background.jpg);
    background-size: cover;
}

section {
    width: 1300px;
    margin: auto;
    padding: 10px;
    border-left: 5px double rgb(86, 140, 241);
    border-right: 5px double rgb(86, 140, 241);
    /* border: 3px solid blue; */
    /* border-radius: 5px; */
}

/*Cards style*/

.container-text {
    width: 1000px;
    margin: 20px auto;
    padding: 10px;
    text-align: justify;
    background-color: rgba(233, 162, 22, 0.1);
    border-radius: 5px;
}

.container-text p {
    padding: 10px;
    display: inline-block;
    width: 49%;
    text-align: justify;
    font-size: 20px;
}

.cards {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(233, 162, 22, 0.1);
}

.cards-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards img {
    width: 400px;
    border-radius: 3px;
}

.cards h3 {
    margin: 10px 10px 10px 0;
    /* padding: 10px; */
}

.cards ul li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.cards-text {
    max-width: 40%;
}


/*Footer*/

footer {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}