* {
    box-sizing: border-box;
    margin: 0;
}


header {
    background-color: rgb(86, 140, 241);
    height: 60px;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

header a {
    color: beige;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

header a:first-child {
    color: rgb(241, 144, 16);
    font-size: 30px;
}

.hovered:hover {
    background-color: brown;
    color: azure;
    border-radius: 5px;
}

header div img {
    border-radius: 50%;
    width: 80px;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
}

/*body style*/

main {
    background-image: url(/Assets/backgrounds/cat-background.jpg);
    background-size:contain;
    padding-top: 60px;
}

section {
    width: 1300px;
    margin: auto;
    padding: 10px;
    border-left: 5px double rgb(86, 140, 241);
    border-right: 5px double rgb(86, 140, 241);
    /* border: 3px solid blue; */
    /* border-radius: 5px; */
}

details {
    width: 500px;
    margin: auto;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(202, 154, 106, 0.6);
}

details ul li {
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content:space-between;
    align-content:center;
    width: 350px;
}

details ul li a {
    text-decoration: none;
    height: 20px;
    padding-top: 7px;
}

details ul li img {
    width: 50px;
    border-radius: 50%;

}

.container-text {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    /* text-align: justify; */
    background-color: rgba(202, 154, 106, 0.6);
    border-radius: 5px;
}

.container-text p {
    padding: 10px;
    display: inline-block;
    width: 49%;
    text-align: justify;
    font-size: 20px;
}

/*Cards style*/

.cards {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(202, 154, 106, 0.6);
}

.cards-content {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.cards img {
    width: 400px;
    border-radius: 3px;
}

.cards h3 {
    margin: 10px 10px 10px 0;
    /* padding: 10px; */
}

.cards ul {
    padding: 0;
}

.cards ul li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.cards-text {
    max-width: 40%;
    text-align: justify;
}

/*Footer*/

footer {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}