* {
    box-sizing: border-box;
    margin: 0;
}

/* body {
    background-image: url(/Assets/backgrounds/reptile-background.jpg);
} */

header {
    background-color: rgb(86, 140, 241);
    height: 60px;
    padding: 10px;
}

header a {
    color: beige;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

header a:first-child {
    color: rgb(241, 144, 16);
    font-size: 30px;
}

.hovered:hover {
    background-color: brown;
    color: azure;
    border-radius: 5px;
}

header div img {
    border-radius: 50%;
    width: 80px;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
}

/*body style*/

main {
    background-image: url(/Assets/backgrounds/reptile-background.jpg);
    /* background-size: cover; */
}

section {
    width: 1300px;
    margin: auto;
    padding: 10px;
    border-left: 5px double rgb(86, 140, 241);
    border-right: 5px double rgb(86, 140, 241);
    /* border: 3px solid blue; */
    /* border-radius: 5px; */
}

.container-text {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    /* text-align: justify; */
    background-color: rgba(94, 92, 90, 0.6);
    border-radius: 5px;
}

.container-text p {
    padding: 10px;
    display: inline-block;
    width: 49%;
    text-align: justify;
    font-size: 20px;
}

/*Footer*/

footer {
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}